{
  "extends": ["airbnb", "prettier", "plugin:import/errors", "plugin:import/warnings"],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "alert": true,
    "document": true,
    "window": true,
    "localStorage": true,
    "sessionStorage": true
  },
  "root": true,
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "no-underscore-dangle": "off",
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
