*{
   box-sizing:border-box;
 }
 .deck{
   margin:15px;
   width:270px;
   height:380px;
   position:relative;
   -webkit-perspective: 1000px;
   perspective: 1000px;
   font-family:verdana;
   border-radius:10px;
 }
 .card{
   width:100%;
   height:100%;
   -webkit-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transition: all .5s linear;
   transition: all .5s linear;
   border-radius:10px;
 }
 .face {
   width: 100%;
   height: 100%;
   background-color:whitesmoke;  
   border-radius:10px;
 }
 .back {
   display: block;
   background: url('https://media.giphy.com/media/xVn3ZmKrKIOLS/giphy.gif');
   box-shadow: 0 0 0 #aaa;
   h2{
    border-radius:10px 10px 0 0;
    padding:20px;
    text-align:center;
    color:whitesmoke;
    word-wrap:break-word
  }
 }
 .front, .back{
   transition: all .5s linear;
 }
 .front{
   background-image:url('https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif');
   background-repeat: no-repeat;
   z-index:1;
   box-shadow: 5px 5px 5px #aaa;
   h2{
    background: rgb(61, 78, 97);
    font-weight: 800;
    font-size: larger;
     padding: 10px;
     text-align:center;
     color:whitesmoke;
     word-wrap:break-word
   }
 }